/******************************************
 *               variables
 =========================================*/

$blue: #165E8A;

$container-width: 1200;
$container-padding: 40;

$aside-width: 220;
$aside-paddig: 32;

$link-color: $blue;

// темно-серый шрифт: #666666
// серый градиент: #C2C2C2 - #F0F0F0 - #D6D6D6
// оранжевый градиент: #F06721 - #F09A21 - #F06721
// НОВИНКА: 10pt #FFCC00

$font-title-size: 16;
$font-title-color: #5772ac;

$font-description-size: 12;
$font-description-color: #666;

$raiting-font: 13;
$price-font-old: 13;
$price-font: 18;

$font-availability-size: 13;

$card-border-color: #CCC;
$color-check: #428000;

$size-circle: rem(40);

$orange: #E88721;

$ballon-color-bestseller: #c1c710;
$ballon-color-novelty: #428000;

$bg-color: #F8F8F8;
$border-color: #CCC;
$font-description-color: #666;
$color-blue: #165E8A;


$bg-color: #F8F8F8;
$border-color: #CCC;
$font-description-color: #666;
