{{#filter-toggle-block
  title = 'Наличие SSD'
  name  = 'ssd'
  isOpen = (readonly isOpen)
}}
  <ul class="product-filter--list__2">
    <li>
      {{#app-input modifer = 'circle'}}
        <input type='radio' name='true'
          checked={{if (is-eq model true) 'checked'}}
          onclick={{action 'setModel' true }}>
        <span>Есть</span>
      {{/app-input}}
    </li>

    <li>
      {{#app-input modifer = 'circle'}}
        <input type='radio' name='false'
          checked={{if (is-eq model false) 'checked'}}
          onclick={{action 'setModel' false }}>
        <span>Нет</span>
      {{/app-input}}
    </li>
  </ul>
{{/filter-toggle-block}}
