{{#filter-toggle-block
  title = 'Цена, руб.'
  name  = 'price'
  isOpen = (readonly isOpen)
}}

  {{!--
  <div class="product-filter--range">
    <input type="range">
  </div>
  --}}

  <div class="product-filter--input">
    <input type="tel" value={{from}}>
    &#8212;
    <input type="tel"  value={{to}}>
  </div>
{{/filter-toggle-block}}
