{{#each model as |product index|}}
  {{#if (is-equal-by-modul index 4)}}
    <li class="product__line"></li>
  {{/if}}

  {{product-list-item
    product = (readonly product)
    addToBasket = (action addToBasket)
  }}
{{else}}
  <li><h2>По вашему запросу ничего не найдено</h2></li>
{{/each}}
