<div class="product-rating--stars__{{rating}}">
  <span/><span/><span/><span/><span/>
</div>
<a href="{{id}}/review" class="product-rating--link">
  {{#if review}}
    Всего {{review}} отзыва
  {{else}}
    Оставить отзыв
  {{/if}}
</a>

